@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --white: #ffffff;
  --lightgrey: #f9f9fa;
  --border: 1px solid #e4e4e7;
  --grey: #bbb;
  --dark: #282c34;
  --red: #e06c75;
  --green: #98c379;
  --yellow: #e5c07b;
  --blue: #61afef;
  --purple: #c678dd;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--dark);
}

body {
  overflow: hidden;
}

input,
select {
  border: 1px solid #e4e4e7;
  color: var(--dark);
  padding: 0.5rem;
  border-radius: 5px;
  height: 35px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  outline: none;
  font-family: "Inter", serif;
}
input[type="color"]{
  background:none;
  padding:0;
  width:40px;
  height:35px;
  border:var(--border);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  padding:0.2rem;
}
input[type="color"]:hover{
  cursor: pointer;
  background: var(--lightgrey);
}

textarea {
  outline: none;
  resize: none;
  width: 100%;
  border: none;
  padding: 0.5rem;
}
button {
  border: var(--border);
  border-radius: 5px;
  height: 35px;
  min-width: 45px;
  outline: none;
  background: transparent;
  padding: 0.5rem 0.75rem;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  color: var(--dark);
}
button:hover {
  cursor: pointer;
  background: var(--lightgrey);
}
.bt-symbol {
  width: 40px;
}
/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--lightgrey);
}

::-webkit-scrollbar-thumb {
  background: #e4e4e7;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--grey);
  cursor: pointer;
}
::-webkit-scrollbar:horizontal {
  height: 5px;
}

::-webkit-scrollbar-track:horizontal {
  background: var(--lightgrey);
}

::-webkit-scrollbar-thumb:horizontal {
  background: #e4e4e7;
}
.separator-y {
  border-right: var(--border);
  height:1rem;
  margin:auto 0.5rem;
}
.separator-x {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: var(--border);
  margin: 0 0.2rem;
}
.color-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.bg-red {
  background: var(--red);
}
.bg-yellow {
  background: var(--yellow);
}
.bg-green {
  background: var(--green);
}
.text-grey{
  color:var(--grey);
}
.tag{
  font-size: 12px;
  color:var(--lightgrey);
  display: inline-block;
  margin:0.2rem 0;
  padding:0.1rem 0.2rem;
  border-radius: 5px;
}

details {
  cursor: pointer;
}
