/* markdown editor */
#markdown-container {
  height: calc(100% - 60px);
  overflow-y: auto;
  padding:0 0.5rem;
}
#markdown-container img {
  width: 75%;
}
#markdown-container h1 {
  color: blue;
}
#markdown-container pre {
  background: var(--lightgrey);
  border-radius: 5px;
  padding: 0.5rem;
  overflow-x: auto;
  -moz-tab-size: 2;
  tab-size: 2;
}
#markdown-container code {
  color: var(--dark2);
}
