@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "./markdown.css";
:root {
  --white: #ffffff;
  --lightgrey: #f9f9fa;
  --lightgrey2: #f4f4f5;
  --lightgrey3: #e4e4e7;
  --border: 1px solid #e4e4e7;
  --grey: #e3e3e4;
  --grey2: #bbb;
  --dark: #5a6374;
  --dark2: #282c34;
  --red: #e06c75;
  --green: #98c379;
  --yellow: #e5c07b;
  --blue: #61afef;
  --purple: #c678dd;

  /* EVERFOREST */
  --bgdim: #353941;
  --bg0: #333c43;
  --bg1: #3a464c;
  --bg2: #434f55;
  --bg3: #4d5960;
  --bg4: #555f66;
  --bg5: #5d6b66;

  --bg_red: #5c3f4f;
  --bg_visual: #59464c;
  --bg_yellow: #55544a;
  --bg_green: #48584e;
  --bg_blue: #3f5865;

  --color_red: #e67e80;
  --color_orange: #e69875;
  --color_yellow: #dbbc7f;
  --color_green: #a7c080;
  --color_blue: #7fbbb3;
  --color_aqua: #83c092;
  --color_purple: #d699b6;
}
[data-theme="light"] {
  /* body */
  --bg-body: var(--white);
  /* border */
  --border: 1px solid #e4e4e7;
  /* button */
  --text-color-button: var(--dark2);
  --bg-hover-button: var(--lightgrey);
  --text-color-button-disabled: var(--grey);
 /* label */
 --text-color-label:var(--dark2);
  /* input */
  --text-color-input: var(--dark2);
  /* option */
  --text-color-option: var(--dark2);
  --bg-option: var(--lightgrey);
  /* textarea */
  --bg-textarea: var(--white);
  --text-color-textarea: var(--dark2);
  /* scrollbar */
  --scrollbar-track: var(--lightgrey);
  --scrollbar-track-horizontal: var(--lightgrey);
  --scrollbar-thumb: var(--lightgrey3);
  --scrollbar-thumb-horizontal: var(--lightgrey3);
  --scrollbar-hover-thumb: var(--grey);
  /* titlebar */
  --bg-titlebar: var(--lightgrey);
  --text-color-titlebar: var(--dark2);
  --bg-hover-titlebar: var(--grey);
  /* toolbar */
  --bg-toolbar: var(--white);
  --text-color-toolbar: var(--dark2);
  --bg-hover-toolbar: var(--lightgrey2);
  /* sidebar */
  --bg-sidebar: var(--lightgrey);
  --bg-hover-sidebar: var(--lightgrey3);
  --bg-selected-sidebar: var(--lightgrey3);
  --text-color-sidebar: var(--dark2);
  /* notelist */
  --bg-notelist: var(--white);
  --text-color-notelist: var(--dark2);
  --bg-note-selected: #f4f4f5;
  --bg-drag-placeholder:var(--lightgrey3);
  /* notebar */
  --bg-notebar: var(--white);
  --text-color-notebar: var(--dark2);
  /* note */
  --bg-note: var(--white);
  --text-color-note: var(--dark2);
}
[data-theme="dark"] {
  /* body */
  --bg-body: var(--dark2);
  /* border */
  --border: 1px solid var(--dark);
  /* button */
  --text-color-button: var(--lightgrey);
  --bg-hover-button: #353941;
  --text-color-button-disabled: var(--dark);
  /* label */
  --text-color-label:var(--lightgrey);
  /* input */
  --text-color-input: var(--lightgrey);
  /* option */
  --text-color-option: var(--lightgrey);
  --bg-option: var(--dark2);
  /* textarea */
  --bg-textarea: var(--dark2);
  --text-color-textarea: var(--lightgrey);
  /* scrollbar */
  --scrollbar-track: var(--dark2);
  --scrollbar-track-horizontal: var(--dark2);
  --scrollbar-thumb: var(--dark);
  --scrollbar-thumb-horizontal: var(--dark);
  --scrollbar-hover-thumb: #353941;
  /* titlebar */
  --bg-titlebar: var(--dark2);
  --text-color-titlebar: var(--lightgrey);
  --bg-hover-titlebar: #353941;
  /* toolbar */
  --bg-toolbar: var(--dark2);
  --text-color-toolbar: var(--lightgrey);
  --bg-hover-toolbar: #353941;
  /* sidebar */
  --bg-sidebar: var(--dark2);
  --bg-hover-sidebar: #353941;
  --bg-selected-sidebar: #353941;
  --text-color-sidebar: var(--lightgrey);
  /* notelist */
  --bg-notelist: var(--dark2);
  --text-color-notelist: var(--lightgrey);
  --bg-note-selected: #353941;
  --bg-drag-placeholder:var(--dark);
  /* notebar */
  --bg-notebar: var(--dark2);
  --text-color-notebar: var(--lightgrey);
  /* note */
  --bg-note: var(--dark2);
  --text-color-note: var(--lightgrey);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  overflow: hidden;
  background: var(--bg-body);
  height: 100vh;
}

.lucide {
  display: flex;
  align-items: center;
}
.size-16 {
  width: 16px;
  height: 16px;
}
input,
select {
  border: var(--border);
  color: var(--text-color-input);
  padding: 0.5rem;
  border-radius: 5px;
  height: 35px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  outline: none;
  font-family: "Inter", serif;
  background-color: transparent;
}
option {
  color: var(--text-color-option);
  background: var(--bg-option);
}
input[type="checkbox"] {
  width: 16px;
  box-shadow: none;
}
input[type="color"] {
  background: none;
  padding: 0;
  width: 40px;
  height: 35px;
  border: var(--border);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  padding: 0.2rem;
}
input[type="color"]:hover {
  cursor: pointer;
  background: var(--lightgrey);
}

textarea {
  outline: none;
  resize: none;
  width: 100%;
  height: 100%;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  top: 4.5rem;
  bottom: 0;
  background: var(--bg-textarea);
  color: var(--text-color-textarea);
}
button,
.app-btn {
  border: var(--border);
  border-radius: 5px;
  height: 35px;
  min-width: 45px;
  outline: none;
  background: transparent;
  padding: 0.5rem 0.75rem;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  color: var(--text-color-button);
  cursor: pointer;
}

button:hover, .app-btn:hover {
  cursor: pointer;
  background: var(--bg-hover-button);
}
button[disabled] {
  color: var(--text-color-button-disabled);
  cursor: not-allowed;
}
button[disabled]:hover{
  background:transparent;
}
.bt-symbol {
  width: 40px;
}
/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover-thumb);
  cursor: pointer;
}
::-webkit-scrollbar:horizontal {
  height: 5px;
}

::-webkit-scrollbar-track:horizontal {
  background: var(--scrollbar-track-horizontal);
}

::-webkit-scrollbar-thumb:horizontal {
  background: var(--scrollbar-thumb-horizontal);
}
.separator-y {
  border-right: var(--border);
  height: 1rem;
  margin: auto 0.5rem;
}
.separator-x {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: var(--border);
  margin: 0 0.2rem;
}
.color-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.bg-red {
  background: var(--red);
}
.bg-yellow {
  background: var(--yellow);
}
.bg-green {
  background: var(--green);
}
.bg-grey {
  background: var(--grey);
}
.bg-blue {
  background: var(--blue);
}
.bg-purple {
  background: var(--purple);
}
.text-dark {
  color: var(--dark);
}
.tag {
  font-size: 12px;
  color: var(--lightgrey);
  display: flex;
  gap: 0.2rem;
  margin: 0.2rem 0;
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
}
