@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "./markdown.css";
:root {
  --white: #ffffff;
  --lightgrey: #f9f9fa;
  --lightgrey2: #f4f4f5;
  --lightgrey3: #e4e4e7;
  --border: 1px solid #e4e4e7;
  --grey: #e3e3e4;
  --grey2: #bbb;
  --dark: #5a6374;
  --dark2: #282c34;
  --red: #e06c75;
  --green: #98c379;
  --yellow: #e5c07b;
  --blue: #61afef;
  --purple: #c678dd;

  /* EVERFOREST */
  --bgdim: #293136;
  --bg0: #333c43;
  --bg1: #3a464c;
  --bg2: #434f55;
  --bg3: #4d5960;
  --bg4: #555f66;
  --bg5: #5d6b66;

  --bg_red: #5c3f4f;
  --bg_visual: #59464c;
  --bg_yellow: #55544a;
  --bg_green: #48584e;
  --bg_blue: #3f5865;

  --color_red: #e67e80;
  --color_orange: #e69875;
  --color_yellow: #dbbc7f;
  --color_green: #a7c080;
  --color_blue: #7fbbb3;
  --color_aqua: #83c092;
  --color_purple: #d699b6;
}
[data-theme="light"] {
  --bg-titlebar: var(--lightgrey2);
  --bg-color: var(--white);
  --bg-toolbar: var(--white);
  --bg-sidebar: var(--lightgrey);
  --text-titlebar: var(--dark2);
  --text-color: var(--dark2);
  --border: 1px solid #e4e4e7;
}

/* everforest */
/* [data-theme="dark"] {
  --bg-titlebar: var(--bgdim);
  --text-titlebar:#7A8478;
  --bg-toolbar:var(--bgdim);
  --bg-color: var(--bgdim);
  --bg-sidebar:#282c34;
  --text-color: #7A8478;
  --border: 1px solid var(--dark);
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  overflow: hidden;
  background: var(--bg-color);
  height: 100vh;
}

.lucide {
  display: flex;
  align-items: center;
}
.size-16 {
  width: 16px;
  height: 16px;
}
input,
select {
  border: 1px solid #e4e4e7;
  color: var(--dark2);
  padding: 0.5rem;
  border-radius: 5px;
  height: 35px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  outline: none;
  font-family: "Inter", serif;
}
input[type="color"] {
  background: none;
  padding: 0;
  width: 40px;
  height: 35px;
  border: var(--border);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  padding: 0.2rem;
}
input[type="color"]:hover {
  cursor: pointer;
  background: var(--lightgrey);
}

textarea {
  outline: none;
  resize: none;
  width: 100%;
  height: 100%;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  top: 4.5rem;
  bottom: 0;
}
button,
.app-btn {
  border: var(--border);
  border-radius: 5px;
  height: 35px;
  min-width: 45px;
  outline: none;
  background: transparent;
  padding: 0.5rem 0.75rem;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  color: var(--dark2);
}

button:hover {
  cursor: pointer;
  background: var(--lightgrey);
}
button[disabled] {
  color: var(--grey);
  cursor: not-allowed;
}
.bt-symbol {
  width: 40px;
}
/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--lightgrey);
}

::-webkit-scrollbar-thumb {
  background: #e4e4e7;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--grey);
  cursor: pointer;
}
::-webkit-scrollbar:horizontal {
  height: 5px;
}

::-webkit-scrollbar-track:horizontal {
  background: var(--lightgrey);
}

::-webkit-scrollbar-thumb:horizontal {
  background: #e4e4e7;
}
.separator-y {
  border-right: var(--border);
  height: 1rem;
  margin: auto 0.5rem;
}
.separator-x {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: var(--border);
  margin: 0 0.2rem;
}
.color-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.bg-red {
  background: var(--red);
}
.bg-yellow {
  background: var(--yellow);
}
.bg-green {
  background: var(--green);
}
.bg-grey {
  background: var(--grey);
}
.bg-blue {
  background: var(--blue);
}
.bg-purple {
  background: var(--purple);
}
.text-dark {
  color: var(--dark);
}
.tag {
  font-size: 12px;
  color: var(--lightgrey);
  display: flex;
  gap: 0.2rem;
  margin: 0.2rem 0;
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
}
