
#markdown-container {
  overflow-y: auto;
  padding: 0 0.5rem;
}
.oneViewMarkdown {
  max-width: 80%;
  margin: 0 auto;
}
#markdown-container img {
  max-width: 50%;
  border-radius: 5px;
  display: flex;
  margin: 0 auto;
}

#markdown-container h1,
#markdown-container h2,
#markdown-container h3,
#markdown-container h4,
#markdown-container h5,
#markdown-container h6 {
  color: var(--text-color-markdown);
  border-bottom: var(--border);
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

#markdown-container h1 {
  font-size: 40px;
}

#markdown-container p {
  margin-bottom: 0.5rem;
}
#markdown-container ul {
  list-style: disc;
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
#markdown-container ol {
  list-style: decimal;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}
#markdown-container li {
  margin: 0.2rem 0;
}

#markdown-container pre {
  background: var(--bg-color-markdown);
  border: var(--border);
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.5rem 0;
  overflow-x: auto;
  -moz-tab-size: 2;
  tab-size: 2;
  width: 100%;
}
#markdown-container code {
  color: var(--text-color-markdown);
}
#markdown-container input[type="checkbox"] {
  height: 100%;
}
#markdown-container blockquote {
  border-left: var(--border);
  margin: 1rem;
  padding-left: 1rem;
  color: var(--dark);
}
#markdown-container a {
  color: var(--blue);
}
#markdown-container a img {
  margin: 0;
}
#markdown-container table {
  border: var(--border);
  margin-bottom: 1rem;
  text-align: left;
  border-collapse: collapse;
}
#markdown-container th {
  background: var(--bg-color-markdown);
  padding: 0.5rem;
}
#markdown-container td {
  padding: 0.5rem;
  border: var(--border);
}

#markdown-container hr {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: var(--border);
  margin: 0 0.2rem;
}
#markdown-container em {
  font-style: italic;
}
